@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #fff;
  /* Your Dark Gray */
  background-color: #1b1b1b;
  /* The "Rain/Hatch" Pattern */
  background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23bdbbc1' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");

  /* Setup */
  font-family: 'Inter', sans-serif;
  background-attachment: fixed;
  background-repeat: repeat;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Slide and fade in animation for form elements */
@keyframes slide-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Start 20px above its final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at its final position */
  }
}
/* Apply the fade-in animation to a class */
.animate-fade-in {
  animation: fade-in 3s ease-out forwards;
}

/* Apply the slide-in animation to a class */
.animate-slide-in {
  animation: slide-in-from-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0; /* Make sure elements are hidden before the animation starts */
}


    
.border-gradient {
  position: relative;
  border: none;
  border-radius: 1px;
  background: transparent;
}

.border-gradient::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -2px;
  right: -2px;
  bottom: -1px;
  border-radius: 18px;
  background: linear-gradient(to right, #f97316, #ef4444, #ec4899, #6b21a8);
  z-index: -1;
}

.border-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 18px; 
  background: #000;
  z-index: -1;
}
a.border-gradient:hover::after {
  background: linear-gradient(to right, #f97316, #ef4444, #ec4899, #6b21a8); /* Gradient as background on hover */
}
button.border-gradient:hover::after {
  background: linear-gradient(to right, #f97316, #ef4444, #ec4899, #6b21a8); /* Gradient as background on hover */
}

.swiper-pagination-bullet {
  background: #ec4899; /* Match gradient color */
}

.swiper-pagination-bullet-active {
  background: #f97316; /* Match gradient color */
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}
